* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    position: relative;
    background-color: #423e80;
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

body>header>nav>ul>li {
    font-weight: bolder;
    display: inline-block;
    margin: 20px 50px;
    position: relative;
    left: 25vw;
    font-size: 1.5vw;
}

nav>ul>li>a {
    text-decoration: none;
    color: rgb(12, 24, 36);
}
.svg1{
    position: absolute;
    top: 80px;
    height: 80vh;
    left: 700px;
}
.profilepic{
    position: absolute;
    top: -150px;
    left: 500px;
    width: 40vw; 
    height: 99.8vh;
}
.svg2{
    position: absolute;
    top: 410px;
    height: 70vh;
    left: 850px;
    transform: rotate(290deg);
}
/* nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.4s;
} */

/* nav ul li a:hover::after {
    width: 50%;

} */

/* body>{
    background-image: url(assets/top-view-blue-decorative-frame.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 0px;
    margin-bottom: 0px;
} */

.intro6 {
    color: #000000;
    font-size: 1.5vw;
    position: absolute;
    top: 25px;
    left: 60px;
    font-family: sans-serif;
    font-weight: 600;
}

.intro7 {
    color: #ff0000;
    font-size: 1.5vw;
    position: absolute;
    top: 25px;
    left: 40px;
    font-family: sans-serif;
    font-weight: 600;
}

.hi {
    font-size: 10vh;
    line-height: 160px;
    margin-left: -10px;
    position: absolute;
    top: 110px;
    left: 20px;
}

.text-box h3 {
    font-size: 3vh;
    position: absolute;
    top: 450px;
    left: 20px;
    color: #07034d;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 2.5vh;
    margin-top: 420px;
    color: #676767;
}

.text-box a {
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 1.04vw;
    margin-left: 2.5vw;
    border: 3px solid #4807fb;
    align-items: center;
}

.text-box a span {
    top: 100px;
    font-size: 4vh;
    line-height: 15px;
    margin-left: 5px;
}

.text-box p {
    font-size: 7vh;
    font-weight: 600;
    position: absolute;
    top: 150px;
    left: 20px;
    color: #84849d;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

.text-box h1 {
    font-size: 15.729vh;
    line-height: 160px;
    margin-left: -10px;
    position: absolute;
    top: 120px;
    left: 20px;
    color: transparent;
    -webkit-text-stroke: 2px #b5b6c3;
    background: url(assets/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

.ReachMe {
    left: 30px;
    opacity: 100%;
    top: 650px;
    position: absolute;
    font-family: Roboto Flex;
    font-weight: 600;
    font-size: 2vw;
    opacity: 1;
}

.social-links {
    display: flex;
}

.social-links a {
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    box-shadow: 0 0 20px 10px rgba(129, 19, 169, 0.05);
    margin: 0 10px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
    top: 14.28vh;
    left: 160px;
}

.social-links a .fa-brands {
    font-size: 4vh;
    line-height: 9vh;
    position: relative;
    z-index: 10;
    transition: color 0.5s;
}

/* .social-links a::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 90px;
    left: 0;
    background: linear-gradient(-45deg, #ed1c94, #ffec17);
    position: absolute;
    transition: 0.5s;
} */

/* .social-links a:hover::after {
    top: 0;
}

.social-links a:hover.fa-brands {
    color: #ac1313;
}

.social-links a:hover {
    transform: translateY(-2vh);
} */
.sec2{
    color: #b5b6c3;
    height: 100vh;
    width: 100%;
    background-position:  center;
    background-attachment: fixed;
    top: 0;
    background-repeat: no-repeat;
}
.comma{
    background-image: url(assets/comma.png);
    position: absolute;
    background-repeat: no-repeat;
    top: 940px;
    width: 43px; 
    height: 38px; 
    left: 930px; 
    background-size: cover;
    border-radius: 25px;
    padding: 20px;
}
.para1{
    position: absolute;
    font-family:'Poppins';
    font-weight: bold;
    top: 1010px;
    font-size: 2vw;
    left: 940px;
}
.para2{
    position: absolute;
    font-family:'Poppins';
    font-weight: 400;
    color: #AAAAAA;
    top: 1200px;
    font-size: 1.5vw;
    left: 940px;
}
.about{
    font-size: 5.2vw;
    font-weight: bolder;
    background: linear-gradient(to right, #c9de0e,
    #0c0c0c, #63678f, #09053f);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Plus Jakarta Sans';
    left: 20px;
    top: 700px;
    position: absolute;
    margin-top: 0px;
}
.me{
    font-size: 5.2vw;
    font-weight: bolder;
    background: linear-gradient(to right, #c3801c,
    #1f1f1f, #3d393d, #17042c);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Plus Jakarta Sans';
    left: 15px;
    top: 800px;
    position: absolute;
    margin-top:0px;
}
.prof2{
    position: absolute;
    background-repeat: no-repeat;
    top: 970px;
    width: 458px; 
    height: 613px; 
    left: 70px; 
    background-size: cover;
    border-radius: 25px;
    padding: 20px;
}
.line1{
    margin: 100px;
    border: 1.5px solid rgb(0, 0, 0);
    height: 470px;
    position: absolute;
    left: 800px;
    top: 900px;
 }
 .line2{
    margin: 100px;
    border: 1.5px solid rgb(0, 0, 0);
    height: 540px;
    position: absolute;
    left: 450px;
    top: 1700px;
 }
 .line3{
    margin: 100px;
    border: 1.5px solid rgb(0, 0, 0);
    height: 540px;
    position: absolute;
    left: 900px;
    top: 1700px;
 }
 hr.line4{
    border: 1.5px solid rgb(0, 0, 0);
    width: 1300px;
    align-self: center;
    position: absolute;
    top: 2050px;
    left: 100px;  
 }
 .Map{
    background-image: url(assets/Mapwrap2.png);
    position: absolute;
    background-repeat: no-repeat;
    top: 730px;
    width: 100%; 
    height: 35vw; 
    right: 0;
    background-repeat: no-repeat;
    background-position:center center;
    background-size: cover;
    opacity: 100%; 
    position: absolute;
    overflow: hidden;
 }