* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-image: url(assets/top-view-blue-decorative-frame.jpg);
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

header {
    height: auto;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    background-size: cover;
    z-index: 10;
}

body>header>nav>ul>li {
    font-weight: bolder;
    display: inline-block;
    margin: 25px 40px;
    position: relative;
    left: 31vw;
    font-size: 1.5vw;
}

nav>ul>li>a {
    text-decoration: none;
    color: rgb(12, 24, 36);
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.4s;
}

nav ul li a:hover::after {
    width: 50%;
}

.intro6 {
    color: #000000;
    font-size: 1.5vw;
    position: absolute;
    top: 25px;
    left: 60px;
    font-family: sans-serif;
    font-weight: 600;
}

.intro7 {
    color: #ff0000;
    font-size: 1.5vw;
    position: absolute;
    top: 25px;
    left: 40px;
    font-family: sans-serif;
    font-weight: 600;
}

.profilepic {
    position: absolute;
    top: -13vw;
    left: 41vw;
    width: 40vw;
    height: 99.8vh;
}

/* .rec {
    position: absolute;
    height: 40vw;
    width: 35vw;
    left: 55vw;
    top: -7vw;
    transform: rotate(1.5deg);
} */

.hi {
    font-size: 10vh;
    line-height: 160vw;
    margin: 1vw 2vw;
    position: absolute;
    top: 6vw;
}

.text-box h3 {
    font-size: 3vh;
    position: absolute;
    top: 31vw;
    left: 20px;
    color: #07034d;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 2.5vh;
    margin-top: 33vw;
    color: #676767;
}

.text-box a {
    color: #000000;
    text-decoration: none;
    padding: 1vw 2vw;
    margin-right: 1.04vw;
    margin-left: 2.5vw;
    border: 2px solid #4807fb;
    align-items: center;
}

.text-box a span {
    top: 10vw;
    font-size: 4vh;
    line-height: 1.5vw;
    margin-left: 0.2vw;
}

.text-box p {
    font-size: 7vh;
    font-weight: 600;
    position: absolute;
    top: 12vw;
    left: 1vw;
    color: #84849d;
}

/* image trnstion */
@keyframes back {
    100% {
        background-position: 100vw 0;
    }
}

.text-box h1 {
    font-size: 15.729vh;
    line-height: 15vw;
    margin-left: -1vw;
    position: absolute;
    top: 7vw;
    left: 1vw;
    color: transparent;
    -webkit-text-stroke: 2px #b5b6c3;
    background: url(assets/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

.ReachMe {
    left: 1.5vw;
    opacity: 100%;
    top: 42vw;
    position: absolute;
    font-family: Roboto Flex;
    font-weight: 600;
    font-size: 2vw;
    opacity: 1;
}

.social-links {
    display: flex;
}

.social-links a {
    width: 4vw;
    height: 4vw;
    text-align: center;
    text-decoration: none;
    color: #000000;
    box-shadow: 0 0 20px 10px rgba(129, 19, 169, 0.05);
    margin: 0 1vw;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
    top: 4.5vw;
    left: 12vw;
}

.social-links a .fa-brands {
    font-size: 4vh;
    line-height: 9vh;
    position: relative;
    z-index: 10;
    transition: color 0.5s;
}

.social-links a::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 90px;
    left: 0;
    background: linear-gradient(-45deg, #ed1c94, #ffec17);
    position: absolute;
    transition: 0.5s;
}

.social-links a:hover::after {
    top: 0;
}

.social-links a:hover.fa-brands {
    color: #ac1313;
}

.social-links a:hover {
    transform: translateY(-2vh);
}

/* section 1 is over */

.sec2 {
    position: relative;
    background-image: url(assets/top-view-blue-decorative-frame.jpg);
}

.comma {
    background-image: url(assets/comma.png);
    position: absolute;
    background-repeat: no-repeat;
    width: 3vw;
    height: 2.5vw;
    left: 45vw;
    top: 23vw;
    background-size: cover;
}

.about {
    font-size: 5.2vw;
    font-weight: bolder;
    background: linear-gradient(to right, #c9de0e,
            #0c0c0c, #63678f, #09053f);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Plus Jakarta Sans';
    top: 12vw;
    position: absolute;
    margin: 1vw 1vw;
}

.me {
    font-size: 5.2vw;
    font-weight: bolder;
    background: linear-gradient(to right, #c3801c,
            #1f1f1f, #3d393d, #17042c);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Plus Jakarta Sans';
    top: 17vw;
    position: absolute;
    margin: 1vw 1vw;
}

.line1 {
    border: 1.5px solid rgb(0, 0, 0);
    height: 32vw;
    position: absolute;
    left: 45vw;
    top: 32vw;
}

.prof2 {
    position: absolute;
    background-repeat: no-repeat;
    top: 26vw;
    width: 30vw;
    height: 40vw;
    left: 7vw;
    background-size: cover;
    border-radius: 25px;
    padding: 2vw;
}

.Map {
    background-image: url(assets/Mapwrap2.png);
    position: absolute;
    background-repeat: no-repeat;
    top: 12.7vw;
    width: 80%;
    height: 35vw;
    right: 0;
    background-size: cover;
    right: 10%;

}

.para1 {
    position: absolute;
    font-family: 'Poppins';
    font-weight: bold;
    top: 29vw;
    font-size: 2vw;
    left: 50vw;
}

.para2 {
    position: absolute;
    font-family: 'Poppins';
    font-weight: 400;
    color: #AAAAAA;
    top: 45vw;
    font-size: 1.5vw;
    left: 50vw;
}

.line2 {
    margin: 10vw 10vw;
    border: 1.5px solid rgb(0, 0, 0);
    height: 41vw;
    position: absolute;
    left: 40vw;
    top: 75vw;
    left: 60vw;
}

.line3 {
    left: 25vw;
    margin: 10vw 10vw;
    border: 1.5px solid rgb(0, 0, 0);
    height: 41vw;
    position: absolute;
    top: 75vw;
}

hr.line4 {
    border: 1.5px solid rgb(0, 0, 0);
    width: 80vw;
    align-self: center;
    position: absolute;
    top: 105vw;
    left: 10vw;
}

.namepic {
    background-image: url(assets/user\ .png);
    position: absolute;
    top: 87vw;
    width: 4.2vw;
    height: 4.5vw;
    left: 17vw;
    border-radius: 2vw;
    padding: 0.75vw;
}

.namepic:hover {
    box-shadow: 0px 3px 40px 0px #1800f0;
    border: 10px solid transparent
}

.namedesc {
    font-size: 1.5vw;
    position: absolute;
    top: 96vw;
    left: 11vw;
}

.NAME {
    position: absolute;
    top: 93vw;
    left: 18vw;
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
    font-size: 1.3vw;
}

.namedesc1 {
    font-size: 1.5vw;
    position: absolute;
    top: 97.5vw;
    left: 16.5vw;
}

.Addresspic {
    background-image: url(assets/pin.png);
    position: absolute;
    background-repeat: no-repeat;
    top: 87vw;
    width: 4vw;
    height: 4vw;
    left: 49vw;
    border-radius: 25px;
}

.Addresspic:hover {
    box-shadow: 0px 3px 40px 0px #000000;
    border: 10px solid transparent
}

.Addressname {
    position: absolute;
    top: 92.5vw;
    left: 49.5vw;
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
    font-size: 1.3vw;

}

.myaddress {
    font-size: 1.5vw;
    position: absolute;
    top: 96vw;
    left: 45vw;
}

.contact {
    background-image: url(assets/telephone.png);
    position: absolute;
    top: 87vw;
    width: 4vw;
    height: 4.2vw;
    left: 81vw;
    border-radius: 25px;

}

.contact:hover {
    box-shadow: 0px 3px 40px 0px #000000;
    transform: translateY(-10px);
}

.CONTACT {
    position: absolute;
    top: 93vw;
    left: 80.9vw;
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
    font-size: 1.3vw;
}

.contactnum {
    font-size: 1.5vw;
    position: absolute;
    top: 96vw;
    left: 79vw;
}

.Age {
    background-image: url(assets/age.png);
    position: absolute;
    background-repeat: no-repeat;
    top: 110vw;
    width: 4vw;
    height: 4.2vw;
    left: 19.5vw;
    background-size: cover;
}

.Age:hover {
    box-shadow: 0px 3px 40px 0px #000000;
    border: 10px solid transparent
}

.AGE {
    position: absolute;
    top: 115vw;
    left: 20vw;
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
    font-size: 1.3vw;
}

.myage {
    position: absolute;
    top: 118vw;
    left: 18.5vw;
    font-size: 1.5vw;
}

.email {
    background-image: url(assets/mail.png);
    position: absolute;
    background-repeat: no-repeat;
    top: 110vw;
    width: 4.5vw;
    height: 4.5vw;
    left: 50vw;
    background-size: cover;
}

.email:hover {
    box-shadow: 0px 3px 40px 0px #000000;
    border: 10px solid transparent
}

.EMAIL {
    position: absolute;
    top: 115vw;
    left: 51vw;
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
    font-size: 1.3vw;
}

.myemail {
    position: absolute;
    top: 118vw;
    left: 39vw;
    text-decoration: none;
    font-size: 1.5vw;
}

.linkedina {
    background-image: url(assets/linkedin\ .png);
    position: absolute;
    background-repeat: no-repeat;
    top: 110vw;
    width: 4.5vw;
    height: 4.5vw;
    left: 80vw;
    font-weight: 500;
}

.linkedina:hover {
    box-shadow: 0px 3px 40px 0px #000000;
    border: 10px solid transparent
}

.LINKEDIN {
    position: absolute;
    top: 115vw;
    left: 80.3vw;
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
    font-size: 1.3vw;
}

.mylinkedin {
    font-size: 1.5vw;
    position: absolute;
    top: 117.5vw;
    left: 80.5vw;
    text-decoration: none;
}

/* Personal section is over */

.EDUCATION {
    position: absolute;
    font-size: 2vw;
    color: rgb(0, 0, 0);
    font-family: 'Roboto';
    top: 149vw;
    font-weight: bold;
    left: 2vw;
}

.educationpic {
    background-image: url(assets/education.png);
    position: absolute;
    background-repeat: no-repeat;
    top: 140vw;
    width: 9vw;
    height: 9vw;
    left: 2vw;
    background-size: cover;
}

.contents {
    padding: 0px 5vw;
    border-left: 3.0px solid #d40505;
    position: absolute;
    top: 150vw;
}

.contents h3 {
    color: #000000;
    font-size: 1.5vw;
    font-family: 'Plus Jakartha Sans';
}

.contents h4 {
    color: #000000;
    font-family: 'Plus Jakartha Sans';
    font-size: 1.5vw;
}

.box1 {
    position: relative;
    left: 49vw;
    padding: 1.5vw;
    border: 1px solid #FDCC1F;
    background-color: #FDCC1F;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 1vw;
    margin-bottom: 1vw;
    text-align: center;
}

.box2 {
    position: relative;
    left: 20vw;
    top: 3vw;
    border: 1px solid #FDCC1F;
    background-color: #FDCC1F;
    padding: 2vw;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 1vw;
    margin-bottom: 3vw;
    text-align: center;
}

.box1:hover {
    box-shadow: 0px 3px 40px 0px #200388;
    border: 10px solid transparent;
}

.box2:hover {
    box-shadow: 0px 3px 40px 0px #200388;
    border: 10px solid transparent
}

.techstack {
    position: absolute;
    top: 205vw;
    left: 4vw;
    height: 10vw;
    width: 90vw;
    background-color: #1C79BC;
    border-radius: 1vw;
    background-repeat: no-repeat;
    opacity: 100%;
}

.figma {
    background-image: url(assets/figma.png);
    width: 8vw;
    height: 8vw;
    margin: 1vw 1vw;
    background-size: cover;
    position: absolute;
}

.java {
    background-image: url(assets/java.png);
    width: 8vw;
    height: 8vw;
    margin: 1vw 1vw;
    left: 9vw;
    background-size: cover;
    position: absolute;
}

.css {
    background-image: url(assets/css-3.png);
    width: 8vw;
    height: 8vw;
    left: 20vw;
    margin: 1vw 1vw;
    background-size: cover;
    opacity: 100%;
    position: absolute;
}

.html {
    background-image: url(assets/html-5.png);
    width: 8vw;
    height: 8vw;
    left: 31vw;
    margin: 1vw 1vw;
    background-size: cover;
    position: absolute;
}

.selenium {
    background-image: url(assets/selenium.png);
    width: 8vw;
    height: 8vw;
    left: 42vw;
    margin: 1vw 1vw;
    background-size: cover;
    position: absolute;
}

.photoshop {
    background-image: url(assets/photoshop.png);
    width: 8vw;
    height: 8vw;
    left: 53vw;
    margin: 1vw 1vw;
    background-size: cover;
    position: absolute;
}

.mysql {
    background-image: url(assets/mysql.png);
    width: 8vw;
    height: 8vw;
    left: 64vw;
    margin: 1vw 1vw;
    background-size: cover;
    position: absolute;
}

.javascript {
    background-image: url(assets/js.png);
    width: 8vw;
    height: 8vw;
    left: 75vw;
    margin: 1vw 1vw;
    background-size: cover;
    position: absolute;
}

.Techstack {
    font-family: 'Roboto';
    font-size: 2.5vw;
    font-weight: bold;
    position: absolute;
    top: -5vw;
    left: 35vw;

}