* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0.7vw;
    background-color: #1066f1;
}
body>section {
    position: relative;

}

body>section>header>nav>ul>li {
    font-weight: bolder;
    display: inline-block;
    margin: 20px 50px;
    position: relative;
    left: 30vw;
    font-size: 3.5vh;
}

nav>ul>li>a {
    text-decoration: none;
    color: aliceblue;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.4s;
}

nav ul li a:hover::after {
    width: 50%;

}

@media only screen and (min-device-width: 400px) {
    body>section:first-child {
        background-image: url(assets/top-view-blue-decorative-frame.jpg);
        background-size: cover;
        height: auto;
        height: 100vh;
        position: relative;
        background-repeat: no-repeat;
        object-fit: cover;
    }
}

.intro6 {
    color: #000000;
    font-size: 3.5vh;
    position: absolute;
    top: 25px;
    left: 60px;
    font-family: sans-serif;
    font-weight: 600;
}

.intro7 {
    color: #ff0000;
    font-size: 3.5vh;
    position: absolute;
    top: 25px;
    left: 40px;
    font-family: sans-serif;
    font-weight: 600;
}

main>section:nth-child(2)>hgroup {}